certifi==2023.7.22
characterai==0.7.1
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
greenlet==2.0.2
gTTS==2.3.2
idna==3.4
playwright==1.38.0
pyee==9.0.4
pygame==2.5.2
requests==2.31.0
SpeechRecognition==3.10.0
typing_extensions==4.8.0
urllib3==2.0.5
